<div id="buses" class="row cream-bg">
  <% @buses.each do |bus| %>
    <div class="col-md-4 mb-4">
      <div class="card shadow mb-4">
        <div class="card-body">
          <h5 class="card-title"><strong>Bus Name:</strong><%= bus.name %></h5>
          <p class="card-text"><strong>Bus No:</strong> <%= bus.registration_number %></p>
          <a href="<%= bus_path(bus) %>" class="btn btn-primary">Show this bus</a>
          <a href="<%= new_bus_reservation_path(bus) %>" class="btn btn-success">Book Seat</a>
    
        </div>
      </div>
    </div>
  <% end %>
</div>
