<!-- app/views/reservations/_reservation_list.html.erb -->
<h3>Reservations:</h3>
<ul>
  <% @reservations.each do |reservation| %>
    <li><%= reservation.user_name %> - Seat <%= reservation.seat_number %></li>
  <% end %>
</ul>
