<!-- app/views/buses/_popup.html.erb -->
<%= turbo_frame_tag 'new_bus_frame' do %>
  <div class="modal fade" id="newBusModal" tabindex="-1" aria-labelledby="newBusModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <%= render "form", bus: @bus %>
      </div>
    </div>
  </div>
<% end %>
